
 /* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap'); */
 body{
   color: #40514E;
  margin: 0;
  text-align: center;
  /* font-family:'Brush Script MT', cursive; */

}
h1{
  color: #66bfbf;
  font-family:'Freestyle script';
  font-size:562.2%;
  line-height: normal;
  margin: 0;
  margin: 50px auto 0 auto;

}
h2{
    color: #66bfbf;
    font-weight: normal;
}
h3{
  color: #11999e;
}

.top{
  background-color: #E4F9F5;

  border: 10px;
  padding: 20px;
}

.pro{
display:inline-block;
font-size: 40px;
  color: #66bfbf;
}

b{
  font-size: 50px;
  /* background-image:url(https://images.unsplash.com/photo-1583173451851-dd9ba01f891e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnVuJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80); */
}
.bottom-cloud{
  position:absolute;
  left: 500px;
}
.last-cloud{
  position: absolute;
  left: 800px;
}

.instagram{
  height: 60px;
  width: 70px;
  position: absolute;
  left: 20px;
}
.facebook{
  height: 60px;
  width: 70px;
  position: absolute;
  left: 20px;
  bottom: 140px;
}
p{
  padding-bottom: 50px;
  font-style: italic;
  font-size: 30px;
  color:#f7e6b5;
}
hr{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
}
/* .intro{
  font-size: 10px;
} */

.profile{
  padding-top: 30px;
}

.skill-row{
  line-height: 1.6;
  text-align: left;
  margin-left: 300px;
}
.Design{
padding-bottom:50px;
margin-left: 300px;
}
.skill-row1{
  text-align:left;
  margin-left: 400px;
  line-height: 2rem;
  padding-bottom: 50px;
  margin-right: 200px;

}
.skill-row{
  text-align:left;

}
.experience{
  float: left;
margin-right: 30px;
position: inherit;
left: 20rem;
bottom: -60%;

}
.chillies{
  float:right;
  margin-right: 3rem;
  margin-left: 30px;
}
.html1{
  height: 60px;
  width: 60px;
   float: left;
  /* margin: 100px; */
 position:absolute;
 left: 100px;
 /* right: 35rem;
 bottom: 9rem;
  text-align:right;  */
}
.css{
  height: 60px;
  width: 60px;
   float: left;
   position: absolute;
   left: 150px;
}
 .contact-me{
   padding-top: 10%;
 }
 .contact-message{
   width: 40%;
padding-left: 30%;
 }
.btn {
  /* margin-bottom: 40px; */
  background: #34d99c;
  background-image: -webkit-linear-gradient(top, #34d99c, #2b8eb8);
  background-image: -moz-linear-gradient(top, #34d99c, #2b8eb8);
  background-image: -ms-linear-gradient(top, #34d99c, #2b8eb8);
  background-image: -o-linear-gradient(top, #34d99c, #2b8eb8);
  background-image: linear-gradient(to bottom, #34d99c, #2b8eb8);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 13px 10px 18px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container{
background-color: #66bfbf;
margin-top: 100px;
padding: 50px 0 20px;
}
a{
  color: #11999e;
  margin: 30px 40px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copy-right{
  color: #eaf6f6;
  font-size:0.95rem;
  padding: 20px 0px;
}
